# INT420-491 : pandas Data Exploration
45-minutes study

### Reading CSV and Textual Files

In [1]:
import pandas as pd

#### COVID19 Tweets

https://www.kaggle.com/datasets/gpreda/covid19-tweets

In [2]:
data = pd.read_csv("covid19_tweets.csv")

In [3]:
data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

#### E-Shop Clothing Dataset

In [4]:
data = pd.read_csv("e-shop-clothing-2008.csv", sep = ';')

In [5]:
data.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1

#### ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡πÄ‡∏ù‡πâ‡∏≤‡∏£‡∏∞‡∏ß‡∏±‡∏á‡∏™‡∏≤‡∏¢‡∏û‡∏±‡∏ô‡∏ò‡∏∏‡πå‡∏Ç‡∏≠‡∏á‡πÄ‡∏ä‡∏∑‡πâ‡∏≠ SAR-CoV-2 ‡∏ó‡∏µ‡πà‡∏û‡∏ö‡πÉ‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ (SARS-CoV-2 variants in Thailand) ‡πÇ‡∏î‡∏¢ ‡∏Å‡∏£‡∏°‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå

https://data.go.th/dataset/5b1fb1cf-7ddf-4194-89be-c2658fdcd7a8

In [6]:
data = pd.read_csv("https://data.go.th/dataset/5b1fb1cf-7ddf-4194-89be-c2658fdcd7a8/resource/152ed762-3c69-465e-a5ae-e592540559d8/download/sars-cov-2-variants-dmsc_290765.csv")
data.head()

,Date_Start,Date_End,B.1.1.7 (Alpha),B.1617.2 (Delta),B.1.351 (Beta),B.1.1.529 (Omicron,Unnamed: 6
0,1/4/2021,20/6/2021,5641.0,661.0,38.0,0.0,NaN
1,21/6/2021,27/6/2021,2218.0,459.0,89.0,0.0,NaN
2,28/6/2021,2/7/2021,1458.0,721.0,59.0,0.0,NaN
3,3/7/2021,9/7/2021,2058.0,1834.0,85.0,0.0,NaN
4,10/7/2021,16/7/2021,1139.0,2090.0,111.0,0.0,NaN

#### ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ú‡∏π‡πâ‡πÇ‡∏î‡∏¢‡∏™‡∏≤‡∏£ ‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£ ‡∏™‡∏≤‡∏¢‡πÄ‡∏â‡∏•‡∏¥‡∏°‡∏£‡∏±‡∏ä‡∏°‡∏á‡∏Ñ‡∏• ‡πÅ‡∏•‡∏∞‡∏™‡∏≤‡∏¢‡∏â‡∏•‡∏≠‡∏á‡∏£‡∏±‡∏ä‡∏ò‡∏£‡∏£‡∏°

https://data.go.th/dataset/fd781923-6c64-4cbc-90b8-83ad77c96ecd

In [7]:
data = pd.read_excel("https://data.go.th/dataset/fd781923-6c64-4cbc-90b8-83ad77c96ecd/resource/8364f303-8f2f-4693-aa0c-2c96dc7cb075/download/-..-65.xlsx")
data.head()

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

### Reading Json Files

#### Trending YouTube Video Statistics and Comments

https://www.kaggle.com/datasets/datasnaek/youtube

In [8]:
data = pd.read_json("GB_category_id.json")
data.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
1,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
2,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
3,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
4,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."

In [9]:
data['items']

0     {'kind': 'youtube#videoCategory', 'etag': '"m2...
1     {'kind': 'youtube#videoCategory', 'etag': '"m2...
2     {'kind': 'youtube#videoCategory', 'etag': '"m2...
3     {'kind': 'youtube#videoCategory', 'etag': '"m2...
4     {'kind': 'youtube#videoCategory', 'etag': '"m2...
5     {'kind': 'youtube#videoCategory', 'etag': '"m2...
6     {'kind': 'youtube#videoCategory', 'etag': '"m2...
7     {'kind': 'youtube#videoCategory', 'etag': '"m2...
8     {'kind': 'youtube#videoCategory', 'etag': '"m2...
9     {'kind': 'youtube#videoCategory', 'etag': '"m2...
10    {'kind': 'youtube#videoCategory', 'etag': '"m2...
11    {'kind': 'youtube#videoCategory', 'etag': '"m2...
12    {'kind': 'youtube#videoCategory', 'etag': '"m2...
13    {'kind': 'youtube#videoCategory', 'etag': '"m2...
14    {'kind': 'youtube#videoCategory', 'etag': '"m2...
15    {'kind': 'youtube#videoCategory', 'etag': '"m2...
16    {'kind': 'youtube#videoCategory', 'etag': '"m2...
17    {'kind': 'youtube#videoCategory', 'etag': '"m2...
18    {'kind': 'youtube#videoCategory', 'etag': '"m2...
19    {'kind': 'youtube#videoCategory', 'etag': '"m2...
20    {'kind': 'youtube#videoCategory', 'etag': '"m2...
21    {'kind': 'youtube#videoCategory', 'etag': '"m2...
22    {'kind': 'youtube#videoCategory', 'etag': '"m2...
23    {'kind': 'youtube#videoCategory', 'etag': '"m2...
24    {'kind': 'youtube#videoCategory', 'etag': '"m2...
25    {'kind': 'youtube#videoCategory', 'etag': '"m2...
26    {'kind': 'youtube#videoCategory', 'etag': '"m2...
27    {'kind': 'youtube#videoCategory', 'etag': '"m2...
28    {'kind': 'youtube#videoCategory', 'etag': '"m2...
29    {'kind': 'youtube#videoCategory', 'etag': '"m2...
30    {'kind': 'youtube#videoCategory', 'etag': '"m2...
Name: items, dtype: object

In [10]:
data["items"][0]

{'kind': 'youtube#videoCategory',
 'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
 'id': '1',
 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
  'title': 'Film & Animation',
  'assignable': True}}

In [11]:
data["items"][0]['snippet']

{'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
 'title': 'Film & Animation',
 'assignable': True}

In [12]:
data["items"][0]['snippet']['title']

'Film & Animation'

## Basic Exploration

#### Data Overview

In [13]:
data = pd.read_csv("covid19_tweets.csv")

In [14]:
#the first-n rows, default n=5
data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [15]:
#the last-n rows, default n=5
data.tail()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
179103,AJIMATI AbdulRahman O.,"Ilorin, Nigeria",Animal Scientist|| Muslim|| Real Madrid/Chelsea,2013-12-30 18:59:19,412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
179104,Jason,Ontario,When your cat has more baking soda than Ninja ...,2011-12-21 04:41:30,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179106,Gary DelPonte,New York City,"Global UX UI Visual Designer. StoryTeller, Mus...",2009-10-27 17:43:13,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [16]:
#summary info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

In [17]:
#column name
data.columns

Index(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'is_retweet'],
      dtype='object')

In [18]:
#data types for all columns
data.dtypes

user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
is_retweet            bool
dtype: object

In [19]:
#number of rows and columns
data.shape

(179108, 13)

#### Data Checking Null/NaN

In [20]:
data.isna().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

In [21]:
data = data.dropna()

In [22]:
data.shape

(99138, 13)

#### Columns/Attributes Selecting

In [23]:
data = data.drop(columns=['text'])

In [24]:
data.columns

Index(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'hashtags', 'source', 'is_retweet'],
      dtype='object')

In [25]:
data2= data[['user_followers','user_friends', 'user_favourites']]
data2

        user_followers  user_friends  user_favourites
2                 9275          9525             7254
3                  197           987             1488
4               101009           168              101
5                 1180          1071             1287
6                79956         54810             3801
...                ...           ...              ...
179101            6274           162               38
179102             251           160              627
179103             412          1609             1062
179104             150           182             7295
179106            1338          1111                0

[99138 rows x 3 columns]

#### Basic Stat Summary

In [26]:
data2.max()

user_followers     24359165
user_friends         497363
user_favourites     2047197
dtype: int64

In [27]:
data2.min()

user_followers     0
user_friends       0
user_favourites    0
dtype: int64

In [28]:
data2.mean()

user_followers     155084.146271
user_friends         2374.224334
user_favourites     15175.433265
dtype: float64

#### Grouping

In [35]:
data3 = data[['source', 'is_retweet']]
#data3
data3.groupby('source').count()

                               is_retweet
source
 Xinhua Sports                          1
 autopo.st - @Radio_Lichfield           1
15 Minute Fun                           1
24liveblog                              7
4strat-foresight                        1
...                                   ...
twidered                                1
twittbot.net                            5
xh_scitech                              3
yorkshire-times                         6
–ûwly                                    6

[432 rows x 1 columns]

In [36]:
data3.groupby('source').count().sort_values(by='is_retweet',ascending = False )

                     is_retweet
source
Twitter Web App           32291
Twitter for Android       21462
Twitter for iPhone        18573
TweetDeck                  5392
Hootsuite Inc.             4268
...                         ...
Pressenza IPA eng             1
Promo.com                     1
PublishBestNews               1
PublishToTwitter              1
Planable                      1

[432 rows x 1 columns]

In [38]:
data4 = data3.groupby('source').count().sort_values(by='is_retweet',ascending = False )['is_retweet'][:10]
data4

source
Twitter Web App        32291
Twitter for Android    21462
Twitter for iPhone     18573
TweetDeck               5392
Hootsuite Inc.          4268
Twitter for iPad        2441
Buffer                  1693
Instagram               1212
Sprout Social           1152
IFTTT                    792
Name: is_retweet, dtype: int64

### Basic Plotting

In [39]:
data4.plot.bar()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [40]:
data['user_friends'].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [41]:
data['user_friends'][:100].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.